# based on '/etc/snapper/config-templates/default' version 0.8.3

# subvolume to snapshot
SUBVOLUME="{{subvolume}}"

# filesystem type
FSTYPE="{{fstype}}"


# btrfs qgroup for space aware cleanup algorithms
QGROUP="{{qgroup}}"


# fraction of the filesystems space the snapshots may use
SPACE_LIMIT="{{space_limit}}"

# fraction of the filesystems space that should be free
FREE_LIMIT="{{free_limit}}"


# users and groups allowed to work with config
ALLOW_USERS="{{allow_users}}"
ALLOW_GROUPS="{{allow_groups}}"

# sync users and groups from ALLOW_USERS and ALLOW_GROUPS to .snapshots
# directory
SYNC_ACL="{{sync_acl}}"


# start comparing pre- and post-snapshot in background after creating
# post-snapshot
BACKGROUND_COMPARISON="{{background_comparison}}"


# run daily number cleanup
NUMBER_CLEANUP="{{number_cleanup}}"

# limit for number cleanup
NUMBER_MIN_AGE="{{number_min_age}}"
NUMBER_LIMIT="{{number_limit}}"
NUMBER_LIMIT_IMPORTANT="{{number_limit_important}}"


# create hourly snapshots
TIMELINE_CREATE="{{timeline_create}}"

# cleanup hourly snapshots after some time
TIMELINE_CLEANUP="{{timeline_cleanup}}"

# limits for timeline cleanup
TIMELINE_MIN_AGE="{{timeline_min_age}}"
TIMELINE_LIMIT_HOURLY="{{timeline_limit_hourly}}"
TIMELINE_LIMIT_DAILY="{{timeline_limit_daily}}"
TIMELINE_LIMIT_WEEKLY="{{timeline_limit_weekly}}"
TIMELINE_LIMIT_MONTHLY="{{timeline_limit_monthly}}"
TIMELINE_LIMIT_YEARLY="{{timeline_limit_yearly}}"


# cleanup empty pre-post-pairs
EMPTY_PRE_POST_CLEANUP="{{empty_pre_post_cleanup}}"

# limits for empty pre-post-pair cleanup
EMPTY_PRE_POST_MIN_AGE="{{empty_pre_post_min_age}}"

