{% set map = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['snapper'],
        'configs_dir': '/etc/snapper/configs',
    },
}, grain='os', merge=salt['pillar.get']('snapper:lookup'), default='Debian') %}

